* {
    margin: 0;
    box-sizing: border-box;
}

#RegNameErr,
#RegEmailErr,
#RegPassErr {
    display: none;
    color: red;
}

.hotel-image {
    object-fit: cover;
}

.inverseIcons {
    -webkit-filter: invert(80%);
    filter: invert(80%);
}





/* Footer section */

.text {
    color: white;
}

#githubIcon {
    margin: 20px;
}

footer {
    background-color: #212529;
    width: 100%;
}